.il_hero {
  background-size: cover;
  display: flex;
  box-shadow: -9px 18px 9px -12px rgba(92, 92, 92, 0.1);
  .il_hero_inner {
    display: flex;
    flex-direction: column;
    div {
      max-width: 1080px;
      margin-top: 6.5rem;
      display: block;
      color: var(--color-1);
      &.buttons {
        margin-top: 0;
        @include mob-only {
          display: flex;
          justify-content: space-between;
        }
      }
      p {
        font-size: 2.4rem;
        @include limbo-max {
          font-size: 3.5rem;
        }
        span {
          font-size: 3.2rem;
          font-weight: 700;
          color: var(--color-2);
          @include limbo-max {
            font-size: 4rem;
          }
        }
      }
    }
  }
  .intro_title {
    font-size: 6.2rem;
    line-height: 7.55rem;
    color: var(--color-1);
    font-weight: 400;
    @include desk-min {
      max-width: 58rem;
    }
    @include limbo-max {
      font-size: 6rem;
    }
  }
  .il_hero_subtitle {
    font-size: 3.2rem;
    color: var(--color-1);
    font-weight: 400;
    font-family: 'Font Secondary';
    @include limbo-max {
      font-size: 4rem;
    }
  }
  .il_btn {
    padding: 1rem 4rem;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2.5rem;
    border: 2px solid #fff;
    background: #fff;
    @include mob-only {
      padding: 1rem 3rem;
    }
    &:first-child {
      color: var(--color-3);
      border-color: var(--color-3);
    }
    &:nth-child(2) {
      color: var(--color-2);
      border-color: var(--color-2);
      @include tab-min {
        margin-left: 2rem;
      }
    }
  }
  &.full-screen {
    min-height: calc(100vh - 16.5rem); // With top bar
    /* min-height: calc(100vh - 10.5rem); */ // Without top bar
    @include limbo-max {
      min-height: calc(100vh - 13rem);
    }
    .hero_inner {
      justify-content: center;
    }
  }
  &.fit-content {
    padding-top: 20rem;
    .il_block_bg img {
      object-position: bottom right;
      @include limbo-max {
        object-position: 78%;
      }
    }
  }
}
