.il_agenda {
    margin-top: 5rem;
    margin-bottom: -4rem;
    z-index: 3;
    .container {
        .intro_title {
            margin-bottom: 4rem;
        }
        background: #fff;
    }
    .il_agenda_wrap {
        border: 1px solid #dedede;
        padding: 10px;
    }
    .il_tabs_nav {
        background-color: #F3F3F3;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
        }
        li {
            display: inline-block;
            border-width: 1px 1px 0 1px;
            width: 50%;
            text-align: center;
            a {
                display: block;
                padding: 10px 15px;
                font-size: 3.6rem;
                color: #fff;
                text-decoration: none;
                color: var(--color-2);
                font-family: "Font Primary";
            }
            &.active {
                a {
                    color: rgba(0, 196, 204, 0.5);
                    background: white;
                    margin: 7px;
                }
            }
        }
    }
    .il_tab {
        transition: var(--theme-transition);
    }
    .il_tabs_content {
        padding: 3rem 0;
        * {
            font-size: 2.2rem;
            @include limbo-max {
                font-size: 16px;
            }
        }
        p {
            margin: 0;
        }
        strong {
            display: inline-block;
            font-size: 26px;
            color: var(--color-1);
            @include mob-only {
                font-size: 18px;
            }

        }
        .il_tab:not(:first-child) {
            display: none;
        }
    }
    .il_agenda_content {
        background: #FFF;
        margin-top: -1px;
        overflow: hidden;
        display: flex;
        ul, ol {
            margin: 0;
            li {
                &::marker {
                    content: '';
                }
                margin-top: 1rem;
                margin-bottom: 1rem;
                @include mob-only {
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;
                }
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        p {
            line-height: 4.55rem;
            @include mob-only {
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
            }
        }
        @include mob-only {
            flex-direction: column;
        }
        > div {
            padding: 2rem 4rem;
        }
        .il_ac_time {
            min-width: 20rem;
            font-size: 3rem;
            color: var(--color-1);
            font-weight: 700;
            @include tab-min {
                border-right: 1px solid #dedede;
            }
            @include mob-only {
                font-size: 18px;
                padding-bottom: 0;
                border-bottom: 1px solid #dedede;
            }
        }
        .il_ac_content {
            color: var(--color-1);
        }
    }
    @include mob-only {
        &.stack_tabs {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    &.active {
                        order: 1;
                    }
                }
            }
        }
    }
}
